.playerWrapper {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-color: #000;
}

/* Customizing Plyr colors to match a dark theme if needed */
:global(.plyr--audio .plyr__controls) {
    background: transparent;
    color: #fff;
}

:global(.plyr--video .plyr__controls) {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
}
